body{
	background-color: black;
}

/*
@font-face {
    font-family: Moon;
    src: url(../Fonts/Moon%20Light.otf);
}
*/

.onTop{
	position: relative;
	overflow:hidden;
	
}

ul{
	list-style: none;
	
}

.logo{
	width: 55%;
	height: 55%;
}

.description-side{
	width: 45%;
	margin-left: 7%;
	margin-top: 10%;
	color: white;
	font-family:Moon;
	text-align: justify;
	overflow: hidden;
	float:left;
	position: relative;
}

.description{
	overflow: hidden;	
}

p{
	line-height: 30px;
	font-size: 21px;
	
}

.login-signup-side{
	position: relative;
	float: left;
	margin-left: 15%;
	margin-top: 10%;
	width: 20%;
}


.login-section{
	text-align: center;
	padding: 20px;
	background-color: white;
	border-radius: 5%;
}

hr{
	margin: 5px;
	border-color: pink;
}

.signup-section{
	text-align: center;
}


