.header{
    
    height: 300px;
    
    background-color: rgb(233,240,250);
    
    text-align: center;
}

.header-center{
    text-align: center;
}


.dp{
    height: 150px;
    width: 150px;
    
    border-radius: 50%;
    background-color: pink;
}

#versus-text{
    display: inline-block;
    color: rgb(250,92,128);
}
