
.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}

body{
/*    background-color: rgb(245,248,250);*/
/*    background-color: black;*/
/*    background-color: rgb(250,222,238);*/
/*    background-color: rgba(230,62,98,0.2);*/
    background-color: rgb(223,240,250);
}

.center-element{
    margin-left: auto;
    margin-right: auto;
}

.center-contents{
    text-align: center;
}

@font-face {
    font-family: Moon;
    src: url(../Fonts/Moon%20Light.otf);
}

@font-face {
    font-family: OpenSans;
    src: url(../Fonts/OpenSans-Regular.ttf);
}

* {
    font-family: OpenSans;
}
